{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
