{
  "extends": ["react-app", "plugin:import/errors"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  }
}
